@import "../../components/../styles/color";

.auth-wrapper {
  position: relative;
  margin: 5% 38%;
  color: @big-stone;
}

.wrapper-opacity {
  background: rgba(220,220,220, 0.2);
  width: 400px;
  height: 500px;
  border-radius: 3px;
}

// form
.form-enter-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 380px;
  height: 400px;
  letter-spacing: 0.2rem;
  border-bottom: 1px solid #9b9b9b;
}

.form-heading {
  text-align: center;
}

.input-auth-wrapper {
  display: block;
}

.input-auth-wrapper > input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  padding: 10px;
}

//input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
//  background: none;
//}

.input-auth-wrapper > span {
  display: inline-block;
  margin: 20px;
  width: 120px;
  font-size: 20px;
  font-weight: bold;
}

.btn-submit {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  color: @lola;
  box-shadow: 0 0 2px 0 #111f2e;
  background-image: linear-gradient(to top, #191c2a, #4f6d8b);
}
.btn-submit:hover {
  cursor: pointer;
  background-image: linear-gradient(to top, #10121b, #6389ae);
}

  // Auth-social
.auth-social-box {
  position: absolute;
  bottom: 5px;
  left: 70px;
  padding: 10px;
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.auth-btn {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url("../../components/../images/sprite.png");
  background-repeat: no-repeat;
  background-size: 420% 420%;
}

.auth-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: transform 0.5s;
}

.auth-facebook {
  background-position: -9px -10px;
}

.auth-google {
  background-position: -80px -80px;
}

.auth-twitter {
  background-position: -150px -80px;
}